<label for="recipientEmail">Email</label>
    <input id="recipientEmail" placeholder="Type recipient's email here.."/>
        <br>
    <textarea id="emailText" rows="4" cols="50" placeholder="Compose your email here.."/>