<label for="loginEmail">Email</label>
    <input id="loginEmail" placeholder="Type your email here.."/>
        <br>
<label for="loginPassword">Password</label>
    <input id="loginPassword" placeholder="Enter you password here.."/>
        <br>
<button href="log">Login</button>
<button href="cancel">Cancel</button>