<label for="registerEmail">Email</label>
    <input id="registerEmail" placeholder="Enter valid Email here.."/>
        <br>
<label for="registerPassword">Password</label>
    <input id="registerPassword" placeholder="Enter valid password here.."/>
        <br>
<label for="registerPasswordConfirm">Password</label>
    <input id="registerPasswordConfirm" placeholder="Confirm password here.."/>
